In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import datetime
plt.style.use("ggplot")
pd.set_option("display.max_columns", 200)
from ydata_profiling import ProfileReport
import sqlite3

In [3]:
df = pd.read_csv("covid2.csv", delimiter=",")
df.head()

,Unnamed: 0,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,reproduction_rate,icu_patients,hosp_patients,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative,excess_mortality
0,0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN
1,1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN
2,2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN
3,3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN
4,4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.422,18.6,2.581,1.337,1803.987,NaN,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297093 entries, 0 to 297092
Data columns (total 38 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   Unnamed: 0                           297093 non-null  int64
 1   iso_code                             297093 non-null  object
 2   continent                            282979 non-null  object
 3   location                             297093 non-null  object
 4   date                                 297093 non-null  object
 5   total_cases                          261401 non-null  float64
 6   new_cases                            288675 non-null  float64
 7   total_deaths                         240987 non-null  float64
 8   new_deaths                           288741 non-null  float64
 9   total_cases_per_million              261401 non-null  float64
 10  new_cases_per_million                288675 non-null  float64
 11  total_deaths_per_million             240987 non-null  float64
 12  new_deaths_per_million               288741 non-null  float64
 13  reproduction_rate                    184817 non-null  float64
 14  icu_patients                         34223 non-null   float64
 15  hosp_patients                        34729 non-null   float64
 16  positive_rate                        95927 non-null   float64
 17  total_vaccinations                   73425 non-null   float64
 18  people_vaccinated                    70318 non-null   float64
 19  people_fully_vaccinated              68000 non-null   float64
 20  total_boosters                       42225 non-null   float64
 21  new_vaccinations                     60666 non-null   float64
 22  people_fully_vaccinated_per_hundred  68000 non-null   float64
 23  total_boosters_per_hundred           42225 non-null   float64
 24  population_density                   252068 non-null  float64
 25  median_age                           234449 non-null  float64
 26  aged_65_older                        226240 non-null  float64
 27  aged_70_older                        232097 non-null  float64
 28  gdp_per_capita                       229761 non-null  float64
 29  female_smokers                       172663 non-null  float64
 30  male_smokers                         170313 non-null  float64
 31  handwashing_facilities               112720 non-null  float64
 32  hospital_beds_per_thousand           203187 non-null  float64
 33  life_expectancy                      273191 non-null  float64
 34  human_development_index              223115 non-null  float64
 35  population                           297093 non-null  float64
 36  excess_mortality_cumulative          10205 non-null   float64
 37  excess_mortality                     10205 non-null   float64
dtypes: float64(33), int64(1), object(4)
memory usage: 86.1+ MB

In [36]:
world = df[df.location == "World"]
world.head()

,Unnamed: 0,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,positive_rate,people_vaccinated,people_fully_vaccinated,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative,excess_mortality
292394,292394,OWID_WRL,NaN,World,2020-01-03,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,58.045,30.9,8.696,5.355,15469.207,6.434,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN
292395,292395,OWID_WRL,NaN,World,2020-01-04,3.0,3.0,NaN,0.0,0.000,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,58.045,30.9,8.696,5.355,15469.207,6.434,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN
292396,292396,OWID_WRL,NaN,World,2020-01-05,3.0,0.0,NaN,0.0,0.000,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,58.045,30.9,8.696,5.355,15469.207,6.434,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN
292397,292397,OWID_WRL,NaN,World,2020-01-06,6.0,3.0,NaN,0.0,0.001,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,58.045,30.9,8.696,5.355,15469.207,6.434,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN
292398,292398,OWID_WRL,NaN,World,2020-01-07,6.0,0.0,NaN,0.0,0.001,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,58.045,30.9,8.696,5.355,15469.207,6.434,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN

In [42]:
df['location'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'England',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'High income', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low income', 'Luxembourg', 'Macao', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Korea', 'North Macedonia', 'Northern Cyprus',
       'Northern Ireland', 'Northern Mariana Islands', 'Norway', 'Oman',
       'Pakistan', 'Palau', 'Palestine', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia',
       'Rwanda', 'Saint Barthelemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican', 'Venezuela', 'Vietnam', 'Wales', 'Wallis and Futuna',
       'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [6]:
df = df[df.location != "Africa"]
df = df[df.location != "Asia"]
df = df[df.location != "North America"]
df = df[df.location != "South America"]
df = df[df.location != "Europe"]
df = df[df.location != "European Union"]
df = df[df.location != "Oceania"]
df = df[df.location != "High income "]
df = df[df.location != "Upper middle income"]
df = df[df.location != "Lower middle income"]

In [49]:
df = df[df.location != "High income"]
df = df[df.location != "Low income"]
df = df[df.location != "World"]

In [ ]:
df.drop(["icu_patients", "hosp_patients", "reproduction_rate", "total_vaccinations", "total_boosters", "new_vaccinations"], axis = 1, inplace = True)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 282979 entries, 0 to 297092
Data columns (total 32 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   Unnamed: 0                           282979 non-null  int64
 1   iso_code                             282979 non-null  object
 2   continent                            282979 non-null  object
 3   location                             282979 non-null  object
 4   date                                 282979 non-null  datetime64[ns]
 5   total_cases                          247527 non-null  float64
 6   new_cases                            274587 non-null  float64
 7   total_deaths                         227395 non-null  float64
 8   new_deaths                           274653 non-null  float64
 9   total_cases_per_million              247527 non-null  float64
 10  new_cases_per_million                274587 non-null  float64
 11  total_deaths_per_million             227395 non-null  float64
 12  new_deaths_per_million               274653 non-null  float64
 13  positive_rate                        95927 non-null   float64
 14  people_vaccinated                    60490 non-null   float64
 15  people_fully_vaccinated              58352 non-null   float64
 16  people_fully_vaccinated_per_hundred  58352 non-null   float64
 17  total_boosters_per_hundred           33549 non-null   float64
 18  population_density                   250891 non-null  float64
 19  median_age                           233272 non-null  float64
 20  aged_65_older                        225063 non-null  float64
 21  aged_70_older                        230920 non-null  float64
 22  gdp_per_capita                       228584 non-null  float64
 23  female_smokers                       171486 non-null  float64
 24  male_smokers                         169136 non-null  float64
 25  handwashing_facilities               111543 non-null  float64
 26  hospital_beds_per_thousand           202010 non-null  float64
 27  life_expectancy                      272014 non-null  float64
 28  human_development_index              221938 non-null  float64
 29  population                           282979 non-null  float64
 30  excess_mortality_cumulative          10205 non-null   float64
 31  excess_mortality                     10205 non-null   float64
dtypes: datetime64[ns](1), float64(27), int64(1), object(3)
memory usage: 71.2+ MB

In [51]:
print(df.location.unique())

['Afghanistan' 'Albania' 'Algeria' 'American Samoa' 'Andorra' 'Angola'
 'Anguilla' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan'
 'Bolivia' 'Bonaire Sint Eustatius and Saba' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'British Virgin Islands' 'Brunei' 'Bulgaria'
 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde'
 'Cayman Islands' 'Central African Republic' 'Chad' 'Chile' 'China'
 'Colombia' 'Comoros' 'Congo' 'Cook Islands' 'Costa Rica' "Cote d'Ivoire"
 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czechia'
 'Democratic Republic of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'England'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia'
 'Faeroe Islands' 'Falkland Islands' 'Fiji' 'Finland' 'France'
 'French Guiana' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Germany'
 'Ghana' 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guadeloupe' 'Guam'
 'Guatemala' 'Guernsey' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti'
 'Honduras' 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran'
 'Iraq' 'Ireland' 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan'
 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kosovo' 'Kuwait'
 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya'
 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macao' 'Madagascar' 'Malawi'
 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands' 'Martinique'
 'Mauritania' 'Mauritius' 'Mayotte' 'Mexico' 'Micronesia (country)'
 'Moldova' 'Monaco' 'Mongolia' 'Montenegro' 'Montserrat' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue'
 'North Korea' 'North Macedonia' 'Northern Cyprus' 'Northern Ireland'
 'Northern Mariana Islands' 'Norway' 'Oman' 'Pakistan' 'Palau' 'Palestine'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Pitcairn'
 'Poland' 'Portugal' 'Puerto Rico' 'Qatar' 'Reunion' 'Romania' 'Russia'
 'Rwanda' 'Saint Barthelemy' 'Saint Helena' 'Saint Kitts and Nevis'
 'Saint Lucia' 'Saint Martin (French part)' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Scotland' 'Senegal' 'Serbia'
 'Seychelles' 'Sierra Leone' 'Singapore' 'Sint Maarten (Dutch part)'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname'
 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan' 'Tanzania'
 'Thailand' 'Timor' 'Togo' 'Tokelau' 'Tonga' 'Trinidad and Tobago'
 'Tunisia' 'Turkey' 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu'
 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States' 'United States Virgin Islands' 'Uruguay' 'Uzbekistan'
 'Vanuatu' 'Vatican' 'Venezuela' 'Vietnam' 'Wales' 'Wallis and Futuna'
 'Western Sahara' 'Yemen' 'Zambia' 'Zimbabwe']

In [9]:
df.describe()

,Unnamed: 0,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,reproduction_rate,icu_patients,hosp_patients,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative,excess_mortality
count,286507.000000,2.509950e+05,2.781090e+05,2.307950e+05,278175.000000,250995.00000,278109.000000,230795.000000,278175.000000,184817.000000,34223.000000,34729.000000,95927.000000,6.604800e+04,6.294100e+04,6.073700e+04,3.560300e+04,5.333500e+04,60737.000000,35603.000000,252068.000000,234449.000000,226240.000000,232097.000000,229761.000000,172663.000000,170313.000000,112720.000000,203187.000000,273191.000000,223115.000000,2.865070e+05,10205.000000,10205.000000
mean,148893.887992,3.365005e+06,6.984274e+03,4.696692e+04,59.865843,82643.75682,169.043866,778.697609,1.047985,0.911495,731.605996,4264.357770,0.098163,2.033478e+08,8.618092e+07,7.637419e+07,4.929949e+07,5.111701e+05,45.682499,33.814492,412.190668,30.514141,8.702412,5.500769,19024.027255,10.794658,32.910523,50.792965,3.097736,73.720187,0.722523,7.389327e+07,9.488196,13.073035
std,85435.245112,3.016315e+07,8.537930e+04,3.553628e+05,522.821541,133332.98301,1164.431903,1033.160803,4.850714,0.399925,2271.292916,10489.451527,0.115978,1.120304e+09,4.971804e+08,4.487962e+08,2.598684e+08,2.807932e+06,29.728059,30.386285,1882.167932,9.084081,6.093983,4.135577,20012.788858,10.781390,13.573533,31.957412,2.548741,7.397192,0.148996,5.324358e+08,13.099374,26.692084
min,0.000000,1.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.00000,0.000000,0.000000,0.000000,-0.070000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000,0.000000,0.137000,15.100000,1.144000,0.526000,661.240000,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-44.230000,-95.920000
25%,73977.500000,5.602000e+03,0.000000e+00,1.080000e+02,0.000000,1774.63400,0.000000,44.543000,0.000000,0.720000,25.000000,258.000000,0.017000,1.225288e+06,6.592500e+05,5.775070e+05,2.384455e+05,2.365000e+03,16.400000,4.325000,37.728000,22.200000,3.526000,2.085000,3823.194000,1.900000,22.600000,20.859000,1.300000,69.590000,0.602000,4.052850e+05,0.370000,-0.990000
50%,147958.000000,4.846700e+04,1.600000e+01,9.470000e+02,0.000000,17863.56400,2.465000,306.181000,0.000000,0.950000,115.000000,862.000000,0.055000,7.971004e+06,4.263753e+06,3.862711e+06,2.910212e+06,1.871300e+04,51.560000,30.290000,90.672000,29.700000,6.378000,3.871000,12294.876000,6.300000,33.100000,49.839000,2.500000,75.050000,0.740000,5.489744e+06,7.690000,6.800000
75%,223112.500000,4.733045e+05,4.360000e+02,8.300000e+03,5.000000,98930.49600,72.485000,1183.159000,0.419000,1.140000,489.000000,3397.000000,0.138100,4.136853e+07,2.121177e+07,1.815716e+07,1.452425e+07,1.136525e+05,72.950000,57.950000,222.873000,38.700000,13.928000,8.643000,27216.445000,19.300000,41.300000,83.241000,4.200000,79.460000,0.829000,2.267376e+07,15.460000,18.620000
max,297092.000000,7.610711e+08,7.946912e+06,6.879664e+06,20005.000000,729533.36300,228872.025000,6450.827000,603.656000,5.870000,28891.000000,154497.000000,1.000000,1.334081e+10,5.566230e+09,5.118341e+09,2.752016e+09,4.967365e+07,126.890000,150.470000,20546.766000,48.200000,27.049000,18.493000,116935.600000,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,76.550000,376.770000

In [10]:
df["date"] = pd.to_datetime(df["date"])

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286507 entries, 0 to 297092
Data columns (total 32 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   Unnamed: 0                           286507 non-null  int64
 1   iso_code                             286507 non-null  object
 2   continent                            282979 non-null  object
 3   location                             286507 non-null  object
 4   date                                 286507 non-null  datetime64[ns]
 5   total_cases                          250995 non-null  float64
 6   new_cases                            278109 non-null  float64
 7   total_deaths                         230795 non-null  float64
 8   new_deaths                           278175 non-null  float64
 9   total_cases_per_million              250995 non-null  float64
 10  new_cases_per_million                278109 non-null  float64
 11  total_deaths_per_million             230795 non-null  float64
 12  new_deaths_per_million               278175 non-null  float64
 13  positive_rate                        95927 non-null   float64
 14  people_vaccinated                    62941 non-null   float64
 15  people_fully_vaccinated              60737 non-null   float64
 16  people_fully_vaccinated_per_hundred  60737 non-null   float64
 17  total_boosters_per_hundred           35603 non-null   float64
 18  population_density                   252068 non-null  float64
 19  median_age                           234449 non-null  float64
 20  aged_65_older                        226240 non-null  float64
 21  aged_70_older                        232097 non-null  float64
 22  gdp_per_capita                       229761 non-null  float64
 23  female_smokers                       172663 non-null  float64
 24  male_smokers                         170313 non-null  float64
 25  handwashing_facilities               112720 non-null  float64
 26  hospital_beds_per_thousand           203187 non-null  float64
 27  life_expectancy                      273191 non-null  float64
 28  human_development_index              223115 non-null  float64
 29  population                           286507 non-null  float64
 30  excess_mortality_cumulative          10205 non-null   float64
 31  excess_mortality                     10205 non-null   float64
dtypes: datetime64[ns](1), float64(27), int64(1), object(3)
memory usage: 72.1+ MB

In [52]:
df.columns

Index(['Unnamed: 0', 'iso_code', 'continent', 'location', 'date',
       'total_cases', 'new_cases', 'total_deaths', 'new_deaths',
       'total_cases_per_million', 'new_cases_per_million',
       'total_deaths_per_million', 'new_deaths_per_million', 'positive_rate',
       'people_vaccinated', 'people_fully_vaccinated',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative', 'excess_mortality'],
      dtype='object')

In [53]:
df_general = df[['iso_code', 'continent', 'location', 'date',
       'total_cases', 'new_cases', 'total_deaths', 'new_deaths',
       'total_cases_per_million', 'new_cases_per_million',
       'total_deaths_per_million', 'new_deaths_per_million', 'positive_rate',
       'people_vaccinated', 'people_fully_vaccinated',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'female_smokers', 'male_smokers', 
       'life_expectancy', "population"]]

In [54]:
df_general.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 282979 entries, 0 to 297092
Data columns (total 24 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   iso_code                             282979 non-null  object
 1   continent                            282979 non-null  object
 2   location                             282979 non-null  object
 3   date                                 282979 non-null  datetime64[ns]
 4   total_cases                          247527 non-null  float64
 5   new_cases                            274587 non-null  float64
 6   total_deaths                         227395 non-null  float64
 7   new_deaths                           274653 non-null  float64
 8   total_cases_per_million              247527 non-null  float64
 9   new_cases_per_million                274587 non-null  float64
 10  total_deaths_per_million             227395 non-null  float64
 11  new_deaths_per_million               274653 non-null  float64
 12  positive_rate                        95927 non-null   float64
 13  people_vaccinated                    60490 non-null   float64
 14  people_fully_vaccinated              58352 non-null   float64
 15  people_fully_vaccinated_per_hundred  58352 non-null   float64
 16  total_boosters_per_hundred           33549 non-null   float64
 17  median_age                           233272 non-null  float64
 18  aged_65_older                        225063 non-null  float64
 19  aged_70_older                        230920 non-null  float64
 20  gdp_per_capita                       228584 non-null  float64
 21  female_smokers                       171486 non-null  float64
 22  male_smokers                         169136 non-null  float64
 23  life_expectancy                      272014 non-null  float64
dtypes: datetime64[ns](1), float64(20), object(3)
memory usage: 54.0+ MB

In [56]:
df_general.to_csv("covid_01.csv")

In [34]:
df.to_csv("covid_cleaned.csv")

In [30]:
world = df[df.location == "World"]
world.head()

,Unnamed: 0,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,positive_rate,people_vaccinated,people_fully_vaccinated,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative,excess_mortality
292394,292394,OWID_WRL,NaN,World,2020-01-03,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,58.045,30.9,8.696,5.355,15469.207,6.434,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN
292395,292395,OWID_WRL,NaN,World,2020-01-04,3.0,3.0,NaN,0.0,0.000,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,58.045,30.9,8.696,5.355,15469.207,6.434,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN
292396,292396,OWID_WRL,NaN,World,2020-01-05,3.0,0.0,NaN,0.0,0.000,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,58.045,30.9,8.696,5.355,15469.207,6.434,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN
292397,292397,OWID_WRL,NaN,World,2020-01-06,6.0,3.0,NaN,0.0,0.001,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,58.045,30.9,8.696,5.355,15469.207,6.434,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN
292398,292398,OWID_WRL,NaN,World,2020-01-07,6.0,0.0,NaN,0.0,0.001,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,58.045,30.9,8.696,5.355,15469.207,6.434,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN

In [31]:
world.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1177 entries, 292394 to 293570
Data columns (total 32 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Unnamed: 0                           1177 non-null   int64
 1   iso_code                             1177 non-null   object
 2   continent                            0 non-null      object
 3   location                             1177 non-null   object
 4   date                                 1177 non-null   datetime64[ns]
 5   total_cases                          1173 non-null   float64
 6   new_cases                            1174 non-null   float64
 7   total_deaths                         1165 non-null   float64
 8   new_deaths                           1174 non-null   float64
 9   total_cases_per_million              1173 non-null   float64
 10  new_cases_per_million                1174 non-null   float64
 11  total_deaths_per_million             1165 non-null   float64
 12  new_deaths_per_million               1174 non-null   float64
 13  positive_rate                        0 non-null      float64
 14  people_vaccinated                    843 non-null    float64
 15  people_fully_vaccinated              832 non-null    float64
 16  people_fully_vaccinated_per_hundred  832 non-null    float64
 17  total_boosters_per_hundred           816 non-null    float64
 18  population_density                   1177 non-null   float64
 19  median_age                           1177 non-null   float64
 20  aged_65_older                        1177 non-null   float64
 21  aged_70_older                        1177 non-null   float64
 22  gdp_per_capita                       1177 non-null   float64
 23  female_smokers                       1177 non-null   float64
 24  male_smokers                         1177 non-null   float64
 25  handwashing_facilities               1177 non-null   float64
 26  hospital_beds_per_thousand           1177 non-null   float64
 27  life_expectancy                      1177 non-null   float64
 28  human_development_index              1177 non-null   float64
 29  population                           1177 non-null   float64
 30  excess_mortality_cumulative          0 non-null      float64
 31  excess_mortality                     0 non-null      float64
dtypes: datetime64[ns](1), float64(27), int64(1), object(3)
memory usage: 303.4+ KB

In [26]:
world.drop(["icu_patients", "hosp_patients", "reproduction_rate", "total_vaccinations", "total_boosters", "new_vaccinations"], axis = 1, inplace = True)

C:\Users\satom\AppData\Local\Temp\ipykernel_12700\1038379574.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  world.drop(["icu_patients", "hosp_patients", "reproduction_rate", "total_vaccinations", "total_boosters", "new_vaccinations"], axis = 1, inplace = True)

In [27]:
world.head()

,Unnamed: 0,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,positive_rate,people_vaccinated,people_fully_vaccinated,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative,excess_mortality
292394,292394,OWID_WRL,NaN,World,2020-01-03,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,58.045,30.9,8.696,5.355,15469.207,6.434,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN
292395,292395,OWID_WRL,NaN,World,2020-01-04,3.0,3.0,NaN,0.0,0.000,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,58.045,30.9,8.696,5.355,15469.207,6.434,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN
292396,292396,OWID_WRL,NaN,World,2020-01-05,3.0,0.0,NaN,0.0,0.000,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,58.045,30.9,8.696,5.355,15469.207,6.434,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN
292397,292397,OWID_WRL,NaN,World,2020-01-06,6.0,3.0,NaN,0.0,0.001,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,58.045,30.9,8.696,5.355,15469.207,6.434,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN
292398,292398,OWID_WRL,NaN,World,2020-01-07,6.0,0.0,NaN,0.0,0.001,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,58.045,30.9,8.696,5.355,15469.207,6.434,34.635,60.13,2.705,72.58,0.737,7.975105e+09,NaN,NaN

In [33]:
world.to_csv("world.csv")

In [ ]:
germany = df[df.location == "Germany"]
germany.head()

In [20]:
germany.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1178 entries, 96234 to 97411
Data columns (total 38 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Unnamed: 0                           1178 non-null   int64
 1   iso_code                             1178 non-null   object
 2   continent                            1178 non-null   object
 3   location                             1178 non-null   object
 4   date                                 1178 non-null   datetime64[ns]
 5   total_cases                          1173 non-null   float64
 6   new_cases                            1174 non-null   float64
 7   total_deaths                         1125 non-null   float64
 8   new_deaths                           1174 non-null   float64
 9   total_cases_per_million              1173 non-null   float64
 10  new_cases_per_million                1174 non-null   float64
 11  total_deaths_per_million             1125 non-null   float64
 12  new_deaths_per_million               1174 non-null   float64
 13  reproduction_rate                    1037 non-null   float64
 14  icu_patients                         1101 non-null   float64
 15  hosp_patients                        0 non-null      float64
 16  positive_rate                        118 non-null    float64
 17  total_vaccinations                   817 non-null    float64
 18  people_vaccinated                    817 non-null    float64
 19  people_fully_vaccinated              798 non-null    float64
 20  total_boosters                       681 non-null    float64
 21  new_vaccinations                     816 non-null    float64
 22  people_fully_vaccinated_per_hundred  798 non-null    float64
 23  total_boosters_per_hundred           681 non-null    float64
 24  population_density                   1178 non-null   float64
 25  median_age                           1178 non-null   float64
 26  aged_65_older                        1178 non-null   float64
 27  aged_70_older                        1178 non-null   float64
 28  gdp_per_capita                       1178 non-null   float64
 29  female_smokers                       1178 non-null   float64
 30  male_smokers                         1178 non-null   float64
 31  handwashing_facilities               0 non-null      float64
 32  hospital_beds_per_thousand           1178 non-null   float64
 33  life_expectancy                      1178 non-null   float64
 34  human_development_index              1178 non-null   float64
 35  population                           1178 non-null   float64
 36  excess_mortality_cumulative          165 non-null    float64
 37  excess_mortality                     165 non-null    float64
dtypes: datetime64[ns](1), float64(33), int64(1), object(3)
memory usage: 358.9+ KB

In [22]:
germany.to_csv("germany.csv")

In [21]:
japan = df[df.location == "Japan"]
japan.head()

,Unnamed: 0,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,reproduction_rate,icu_patients,hosp_patients,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative,excess_mortality
129097,129097,JPN,Asia,Japan,2020-01-03,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,347.778,48.2,27.049,18.493,39002.223,11.2,33.7,NaN,13.05,84.63,0.919,123951696.0,NaN,NaN
129098,129098,JPN,Asia,Japan,2020-01-04,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,347.778,48.2,27.049,18.493,39002.223,11.2,33.7,NaN,13.05,84.63,0.919,123951696.0,NaN,NaN
129099,129099,JPN,Asia,Japan,2020-01-05,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,347.778,48.2,27.049,18.493,39002.223,11.2,33.7,NaN,13.05,84.63,0.919,123951696.0,NaN,NaN
129100,129100,JPN,Asia,Japan,2020-01-06,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,347.778,48.2,27.049,18.493,39002.223,11.2,33.7,NaN,13.05,84.63,0.919,123951696.0,NaN,NaN
129101,129101,JPN,Asia,Japan,2020-01-07,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,347.778,48.2,27.049,18.493,39002.223,11.2,33.7,NaN,13.05,84.63,0.919,123951696.0,NaN,NaN